body { padding: 1em; }
h1, h2, h3 { padding: 0.5em;}
p, pre { margin : 0 1em; }
pre, code { font-family: "Consolas", "Courier New", monospace; }
pre { overflow: auto; }

body { background : #fcfcfc; }
a { color: #003cfc; }
a:visited { color: #9c3c3c; }

blockquote { border-left: 3px solid #e7e7e7; }

h1, h2, h3, h4, h5, h6 { font-size : 1em; }

@media screen and (min-width: 1024px) {
    header, article.post, footer {
        width : 75%
    }
    body { padding: 2em; }
}

header { text-align : right }
header > h1 { text-align : left }
span.date { font-family : monospace; }

article.post > h1 { font-size : 1em; }

article.post > p, article.post pre {
    margin-top: 1em;
    padding : 0 1em;
}

footer { text-align : right; }
