body { padding: 1em; }
h1, h2, h3, h4, h5, h6 { padding: 0 0.5em;}
p, pre { margin : 0 1em; }
pre, code { font-family: "Consolas", "Courier New", monospace; }
pre { overflow: auto; }

body { background : #fcfcfc; }
a { color: #003cfc; }
a:visited { color: #9c3c3c; }

blockquote { border-left: 3px solid #e7e7e7; }

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size : 1em; }

@media screen and (min-width: 1024px) {
    header, article.post, footer {
        width : 75%
    }
    body { padding: 2em; }
}

header { text-align : right }
header > h1 { text-align : left }
span.date { font-family : monospace; }

article.post > h1 { font-size : 1em; }

article.post > p, article.post pre {
    margin-top: 1em;
    padding : 0 1em;
}

footer { text-align : right; }

div.twocolumn {
    display: flex;
}

div.def {
    flex: 2;
    border-right: 1px solid #000;
}
div.note {
    flex: 1;
}

@media screen and (max-width: 1024px) {
    div.twocolumn {
        display: block;
    }

    div.def { border: none; }
    span.katex-display { overflow: auto }
}

div.def, div.note {
    margin: 1em;
    padding: 2em 1em 1em 1em;
    line-height: 2em;
}

div.def ul, div.def ol {
    margin : 0;
    padding-left : 2.5em;
}

div.note ul, div.note ol {
    margin : 0;
    padding-left : 1em;
}

div.def p, div.note p {
    margin-left: 0;
}

div.def p + ol, div.def p + ul
div.note p + ol, div.note p + ul {
    margin-top: 1em;
}

div.def {
    background: url("/images/def.png") top left/30px no-repeat;
}
div.note {
    background: url("/images/note.png") top left/40px no-repeat;
}

ul.itemlist {
    list-style: circle;
}

