<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="utf-8">
    <title>cal</title>
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="./bootstrap-5.2.0-dist/css/bootstrap.min.css">
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <input v-model="form_kcal" type="number" id="kcal" name="kcal" placeholder="kcal" step="10">
                <button v-on:click="add">add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div v-if="inTwentyFourHours.sum >= limit">Overdose</div>
                <div v-for="item in inTwentyFourHours.list" v-bind:key="item.ts">
                    <span class="timestamp">{{ new Date(item.ts) }}</span>
                    <span v-for="n in item.count">🍔</span>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>