<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="utf-8">
    <title>vocab</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <style>
        .vocab-item h5 {
            font-size: 2em;
            font-family: 'Bree Serif', serif;
        }

        .vocab-item h5>small,
        .vocab-item .datetime {
            font-size: 0.5em;
        }
        .vocab-item ul.vocab-links > li {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <h1>vocab-list</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="ml-auto col-10 mr-auto">
                <ul>
                    <li><a href="https://www.cambridgeenglish.org/images/84669-pet-vocabulary-list.pdf">Cambridge
                            English:
                            Preliminary for Schools (PDF)</a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="vocab-list">
            <div class="ml-auto col-10 mr-auto list-group list-group-horizontal-lg">
                <div class="vocab-item list-group-item flex-fill" v-for="w in words">
                    <div class="d-flex justify-content-between">
                        <h5>{{ w.word }} <small class="text-secondary">{{ w.type }}</small></h5>
                        <span class="datetime text-info">{{ w.create_time }}</span>
                    </div>
                    <p>{{ w.notes }}</p>
                    <ul class="vocab-links">
                        <li v-for="exturl in urls"><a :href="exturl.url + '/' + w.word" target="_blank">{{ exturl.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        var data = {
            urls: [{
                name: "Collins",
                url: "https://www.collinsdictionary.com/dictionary/english"
            }, {
                name: "Vocabulary",
                url: "https://www.vocabulary.com/dictionary"
            }, {
                name: "Wiktionary",
                url: "https://en.wiktionary.org/wiki"
            }],
            words: [{
                word: "hello",
                type: 'noun',
                notes: '',
                create_time: '2020-01-01T01:01:01'
            }, {
                word: "world",
                type: 'noun',
                notes: '',
                create_time: '2020-02-01T01:01:01'
            }, {
                word: 'an', type: 'determiner',
                create_time: '2020-03-01T01:01:01'
            }]
        }
        var App = new Vue({
            el: '#vocab-list',
            data: data
        });

    </script>
</body>

</html>