<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>f6o.github.io</title>
<link rel="alternate" type="application/atom+xml" title="f6o.github.io" href="/feed.xml">
<link rel="stylesheet" href="/css/default.css">
{% if page.tags contains 'math' %}
{% include math_header.html %}
{% endif %}
</head>
<body>
<p><a href="https://blog.noorbeh.com/">こちら</a>にコンテンツは移動されました。この記事は最新ではない可能性があります。</p>
{{ content }}
</body>
</html>
